.searcher {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.searchy {
    background-color: rgb(212, 167, 108);
}

.nav {
    color: aqua;
}
.button {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 46, 46);
}